{% extends "base.html" %}
{% block title %}
Dashboard
{% endblock title %}


{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Assalomu aleykum</h1>
        <p class="col-md-8 fs-4">Namangan muhandislik-qurilish instutining Community loyihasiga xush kelibsiz!</p>
        <a href="{% url 'blog' %}?{{ query|urlencode }}query=info">
            <button class="btn btn-primary btn-lg" type="button">Malumotnomalar</button>
        </a>
    </div>
</div>

<div class="w-100 text-center">
    <div class="row w-75 text-center" style="margin: 10%;">
        <div class="col-md-6 ">
            <div class="h-100  py-5 text-white bg-dark rounded-3">
                <h2>Yangiliklar</h2>
                <p>Saytimiz orqali eng oxirgi rasmiy, ishonchli yangiliklardan xabardor bo`lishingiz va o'z fikringizni
                    bildirishingiz mukun</p>
                <a href="{% url 'blog' %}?{{ query|urlencode }}query=news" >
                    <button class="btn btn-outline-light" type="button">Yangiliklar</button>
                </a>
            </div>
        </div>
        <div class="col-md-6 float-end ">
            <div class="h-100  py-5 bg-light border rounded-3">
                <h2>Blog</h2>
                <p>Ilg'or talabalar, proffessor o'qituvchilar tomonidan yuritiladiga bloglardan xabardor bo'lishingiz
                    savollarigizga shuyerning o'zida javob olishingiz mumkun!</p>
                <a href="{% url 'blog' %}?{{ query|urlencode }}query=blog">
                    <button class="btn btn-outline-secondary" type="button">Bloglar</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}