{% extends "base.html" %}

{% block title %}
Adminslar ro'yxati
{% endblock title %}


{% block content %}
<table class="table text-center container">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FISH</th>
            <th scope="col">Turi</th>
            <th scope="col">Boshqaruv <input type="submit" value="Saqlash" class="btn btn-success float-end"></th>
        </tr>
    </thead>
    <tbody>
        {% if 'user_list' in request.path %}
            <h1 class="mx-5 my-3">Foydalanuvchilar</h1>
        {% elif 'admin_list' in request.path %}
            <h1 class="mx-5 my-3"> Adminlar</h1>
        {% endif %}
        <form 
            {% if 'user_list' in request.path %}
                action="{% url 'edit_user_to_admin' %}" 
            {% elif 'admin_list' in request.path %}
                action="{% url 'edit_admin_to_user' %}" 
            {% endif %}
            class="text-center"
            method="post">
            {% csrf_token %}
            
            {% for admin in object_list %}
            <tr>
                <th scope="row"> {{forloop.counter}} </th>
                <td>{{admin.user.fullname}}</td>
                <td>
                    <select name="{{admin.id}}" class="form-select">
                        <option value="user" {% if 'user_list' in request.path  %} selected {% endif %}>
                            User
                        </option>
                        <option {% if 'admin_list' in request.path  %} selected {% endif %} value="admin">Admin</option>
                    </select>
                </td>
                <td>
                    <a href="#" class="text-muted">
                        <i class="fa-solid fa-user mx-3 fs-4" style="color: blue;"></i>
                    </a>                    
                    <a href="#" class="text-muted">
                        <i class="fa-solid fa-trash mx-3 fs-4" style="color: crimson;"></i>
                    </a>
                </td>
            </tr>      
            {% endfor %}

        </form>  
        
        
    </tbody>
</table>
{% endblock content %}