
{% extends "base.html" %}
{% block link %}
<link href="starter-template.css" rel="stylesheet">
{% endblock link %}
{% block title %}
  Profile
{% endblock title %}


{% block content %}

    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <main>
            {% if user.image %}
            <img src="user.image.url" alt="User image">
            {% endif %}
            <h3>{{my_user.email}}</h3>
            <h1> {{user.fullname}} </h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>Email: </b> {{my_user.email}}
                </li>
                <li class="list-group-item">
                    <b>Telegram</b> @{{my_user.telegram}}
                </li>
                <li class="list-group-item">
                    <b>Kafedra</b> {{my_user.department}}
                </li>
                <li class="list-group-item">
                    <b>Qisqacha:</b>
                    <p>
                        {{my_user.bio}}
                    </p>
                </li>
            </ul>

            <div class="mb-5">
                <a href="{% url 'edit_user_profile' user.id %}" class="btn btn-primary btn-lg px-4">Tahrirlash</a>
            </div>
        </main>
    </div>
  
{% endblock content %}